@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rubik+Moonrocks&display=swap");

$font1: "Quicksand", sans-serif;
$font2: "Rubik Moonrocks", sans-serif;

$color-second: rgb(235, 234, 234);
$color-third: rgb(170, 147, 20);
$color-submit: rgb(10, 117, 10);
$color-title: rgb(135, 11, 11);
